<!DOCTYPE html>
<html lang="en">

<%- include('partials/head', { title: "Homepage" , css: "styles" })%>

  <body>

    <form action="/handleEnquette" method="post" id="enquette" hash=<%=hash %>>
      <% if (type == 'normal'){%>
        <%- include('partials/normalForm', { templateData: templateData , vakken: vakken })%>
      <% } else {%>
          <%- include('partials/recurringForm', { templateData: templateData , vakken: vakken, recurring: recurring })%>
      <% }%>
      <button type="submit">Submit</button>
    </form>



    <script src="./scripts/main.js" defer></script>

  </body>

</html>