@supports (--css: variables) {
  :root {
    --black: 0, 0, 0;
    --error: #E71800;
    --pass: #3d854d;
    --test: #ffcc00;
  }
}

@media (prefers-reduced-motion) {
  * {
    -webkit-animation-play-state: paused !important;
    animation-play-state: paused !important;
    -webkit-transition: none !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}

body {
  color: white;
  background-color: #1D1D1D;
  margin: 0 auto;
  width: clamp(20rem, 50vw, 40rem);
}

@supports (width: clamp(1px, 1px, 1px)) {
  body {
    width: max(20rem, min(50vw, 40rem));
  }
}

fieldset {
  border: none;
  background-color: #3F3F3F;

  box-shadow: 0.5em 0.5em #8B8B8B;
}

form fieldset,
.slides {
  margin-top: 20px;
}

nav ul {
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.slides {
  display: flex;
  align-items: center;
  height: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

form fieldset[id]:nth-child(1n) {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 80%;
  height: 80%;
  margin: 0px 15px;
  background-color: #3F3F3F;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
}

form fieldset[id] div:nth-child(n+2) div {
  display: flex;
  width: -moz-max-content;
  width: max-content;
  border-radius: 5px;
  overflow: hidden;
  /* border: .2px solid black; */
  /* justify-content: space-around; */
  align-items: center;
}

form fieldset legend {
  background-color: #1D1D1D;
  padding: 0.4em;
  border: 1px solid white;

}

[type='radio'] {
  width: 0px;
  visibility: hidden;
  display: none;
}

label {
  display: block;
  width: max-content;
  padding: 5px 7px;
  text-align: center;
  background-color: #2D2D2D;
  color: white;

}

[type='radio']:checked+label {
  background-color: #446CD1;
}

a {
  color: #22D1A7
}